@import 'Variables';

.CardGrid {
  color: black;
  width: 400px;
  // flex: 1;
  // max-height: 100%;
  // height: 500px;
  border: $borderDev solid lime;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing;
  grid-row-gap: $spacing;

  overflow-y: scroll;
  -ms-overflow-style: none;
}

.CardGrid::-webkit-scrollbar {
  display: none;
}


@media screen and (min-width: 860px){
  .CardGrid {
    width: 820px;
    grid-template-columns: 1fr 1fr;
  }
  }
  
  @media screen and (min-width: 1280px){
  .CardGrid  {
    width: 1240px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  }
  
  @media screen and (min-width: 1700px){
  .CardGrid {
    width: 1660px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}