@import 'Variables';

.Card {
  font-size: 1rem;
  color: $color_FontMain;
  background-color: #eee;
  color: $color_FontMain;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  //Fixed Card height?
  // height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: $borderDev solid dodgerblue;
  width: 100%;
  // height: 100%;

  .linkTo {
    color: $color_FontMain;
  }

  .icon{
    box-shadow: none;
    // background-color: blue;
    color: blue;
    filter: $colorFilter_TFL;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .row {
    border: $borderDev solid darkgrey;
    display: flex;
    flex-direction: row;
    // align-items: flex-end;
    // margin-bottom: $spacing/4;
    width: 100%;

    &.lineColor {
      height: $spacing;
    }

    &.rowLast{
      margin-bottom: $spacing;
    }


    &.map {
      height: 300px;
    }

  }

  

  .dataBlock{
    margin-bottom: $spacing;
  }

  .address {
    align-items: flex-start;
  }


  .status {
    flex: 1;
    display: flex;
    text-align:right;
    color: $color_FontL1;
    align-items: flex-end;
    justify-content: flex-end;
    // padding-top: 3px;
  }

  .code {
    flex: 1;
    text-align:right;
    padding-top: 3px;
  }


  .data {
    flex: 1;
    // height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
  .data::-webkit-scrollbar {
    display: none;
  }




  .infoLabel {
    margin-bottom: $spacing/6;
    color: $color_FontL3;
    text-transform: lowercase;
    font-size: 0.8rem;
    font-weight: 400;
    border: $borderDev solid orange;
  }
    // .labels {
  //   width: 20%;
  //   text-align: right;
  //   padding-right: 7px;
  //   font-weight: 600;
  // }

  p {
    text-align: justify;
    word-wrap: break-word;
    font-size: 0.9rem;
    border: $borderDev solid yellow;
  }
  .data {
    text-align: justify;
    word-wrap: break-word;
    font-size: 0.9rem;
    border: $borderDev solid yellow;
  }

  .end {
    flex: 1;
    justify-content: flex-end;
  }

  img {
    margin: 10px auto;
    width: 50%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  }
  p {
    // font-size: 0.8em;
    border: $borderDev solid orange;
    // max-width: 100px;
    word-wrap: break-word;
    overflow: auto;
  }

  h1 {
    color: $color_FontMain;
    font-size: 1.6rem;
    font-weight: 600;
    border: $borderDev solid red;
    vertical-align: top;
  }
  h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: 400;
    border: $borderDev solid orange;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    border: $borderDev solid orange;
  }

  h4 {
    color: $color_FontL3;
    font-size: 1rem;
    font-weight: 400;
    border: $borderDev solid orange;
  }

  .indent2{
    margin-left: $spacing*2;
    margin-right: $spacing*2;
    // margin-bottom: $spacing/2;
  }

  .indent3{
    margin-left: $spacing*3;
    margin-right: $spacing*3;
    // margin-bottom: $spacing/2;
  }

  .indent4{
    margin-left: $spacing*4;
    margin-right: $spacing*4;
    // margin-bottom: $spacing/2;
  }

}



