.Card {
  background-color: #eee;
  color: $color_FontMain;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  //Fixed Card height?
  // height: 150px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: $borderDev solid dodgerblue;
  width: 100%;
  // height: 100%;


  .row {
    border: $borderDev solid darkgrey;
    display: flex;
    flex-direction: row;
    width: 100%;

    &.lineColor {
      height: 30px;
    }

    &.titleRow {
      margin: 5px 0;
    }

    &.map {
      height: 300px;
    }

    .status {
      flex: 1;
      text-align:right;
      padding-top: 3px;
    }

    .code {
      flex: 1;
      text-align:right;
      padding-top: 3px;
    }

    .labels {
      width: 20%;
      text-align: right;
      padding-right: 7px;
      font-weight: 600;
    }
    .data {
      flex: 1;
      // height: 100px;
      overflow-y: scroll;
      -ms-overflow-style: none;
    }
    .data::-webkit-scrollbar {
      display: none;
    }

    img {
      margin: 10px auto;
      width: 50%;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    }
    p {
      // font-size: 0.8em;
      border: $borderDev solid orange;
      // max-width: 100px;
      word-wrap: break-word;
      overflow: auto;
    }


  }
}









.bakerloo {background-color: $color_Bakerloo;}
.central {background-color: $color_Central;}
.circle {background-color: $color_Circle;}
.district {background-color: $color_District;}
.northern {background-color: $color_Northern;}
.metropolitan {background-color: $color_Metropolitan;}
.jubilee {background-color: $color_Jubilee;}
.hammersmith-city {background-color: $color_Hammersmith;}
.piccadilly {background-color: $color_Piccadilly;}
.victoria {background-color: $color_Victoria;}
.waterloo-city {background-color: $color_Waterloo;}