$color_TFL: rgb(000,025,168);

$borderDev : 0px;
$spacing: 20px;

* {
	box-sizing: border-box;
  margin: 0px;
	font-family: sans-serif;
}

a {
  text-decoration: none;
  color:black;
}

.App {
  background-color: $color_TFL;
	color: white;
  padding: $spacing;
	height: 100%;
	display: flex;
	flex-direction: column;
  align-items: center;
  border: $borderDev solid cyan;

  header {
    width: 400px;
    border: $borderDev solid yellow;
    margin-bottom: $spacing/2;
  }

  footer {
    text-align: right;
    margin: 10px 0px;
    border: $borderDev solid yellow;
    a {
      color:white;
    }
  }


  @media screen and (min-width: 860px){
    header, footer {
      width: 820px;
    }
    }
    
    @media screen and (min-width: 1280px){
    header, footer  {
      width: 1240px;
    }
    }
    
    @media screen and (min-width: 1700px){
    header, footer  {
      width: 1660px;
    }
  }
}




