@import 'Variables';


main {
  color: white;
  width: 400px;
  flex: 1;
  height: 100%;
  border: $borderDev solid cyan;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing;
  grid-row-gap: $spacing;
  // overflow: scroll;
}


@media screen and (min-width: 860px){
  main {
    width: 820px;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  }
  
  @media screen and (min-width: 1280px){
  main, footer  {
    width: 1240px;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  }
  
  @media screen and (min-width: 1700px){
  main {
    width: 1660px;
    // grid-template-columns: 1fr 1fr 1fr  1fr;
    grid-template-columns: 1fr;
  }
}

