@import 'Variables';
@import 'CardGrid';
@import 'CardSingle';

.sectionTitle{
  margin-bottom: $spacing/4;
  border: $borderDev solid green;
}

.sectionBody{
  border: $borderDev solid green;
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.sectionBody::-webkit-scrollbar {
display: none;
}



