@import 'Variables';

.Card {
  font-size: 1rem;
  background-color: #eee;
  color: $color_FontMain;
  border-radius: $cardBorderRadius;
  box-shadow: 0 0 5px 0 rgba(50, 50, 50, .5);
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: $borderDev solid dodgerblue;
  width: 100%;
  // height: 100%;

  .linkTo {
    color: $color_FontMain;
  }

  .icon{
    box-shadow: none;
    // background-color: blue;
    color: blue;
    filter: $colorFilter_TFL;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .row {
    border: $borderDev solid darkgrey;
    display: flex;
    flex-direction: row;
    width: 100%;

    &.rowLast{
      margin-bottom: $spacing;
    }

    &.map {
      height: 300px;
    }

  }

  .titleRow{
    font-weight: 600;
    margin-top: $spacing/3;
    margin-bottom: $spacing/3;
  }

  .dataBlock{
    margin-bottom: $spacing;
  }

  .status, .loading {
    display: flex;
    font-size: 1.1rem;
    align-items: flex-end;
    color: $color_FontMain;
  }

  .lightColor {
    color: $color_TFL;
  }

  .lineColor {
    height: $spacing*2;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: $spacing/2;
    border: $borderDev solid orange;
    display: flex;
    align-items: center;

  }

  .code {
    flex: 1;
    text-align:right;
    padding-top: 3px;
  }


  .data {
    flex: 1;
    // height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
  .data::-webkit-scrollbar {
    display: none;
  }




  .infoLabel {
    margin-bottom: $spacing/6;
    color: $color_FontL3;
    text-transform: lowercase;
    font-size: 0.8rem;
    font-weight: 400;
    border: $borderDev solid orange;
  }
    // .labels {
  //   width: 20%;
  //   text-align: right;
  //   padding-right: 7px;
  //   font-weight: 600;
  // }

  p {
    text-align: justify;
    word-wrap: break-word;
    font-size: 0.9rem;
    border: $borderDev solid yellow;
  }
  .data {
    text-align: justify;
    word-wrap: break-word;
    font-size: 0.9rem;
    border: $borderDev solid yellow;
  }


  .end {
    flex: 1;
    justify-content: flex-end;
  }

  img {
    margin: 10px auto;
    width: 50%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  }
  p {
    // font-size: 0.8em;
    border: $borderDev solid orange;
    // max-width: 100px;
    word-wrap: break-word;
    overflow: auto;
  }

  h1 {
    color: $color_FontMain;
    font-size: 1.6rem;
    font-weight: 600;
    border: $borderDev solid red;
    vertical-align: top;
    margin-bottom: 10px;
  }
  h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: 400;
    border: $borderDev solid orange;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    border: $borderDev solid orange;
  }

  h4 {
    color: $color_FontL3;
    font-size: 1rem;
    font-weight: 400;
    border: $borderDev solid orange;
  }

}



