@import 'Variables';

::-webkit-scrollbar {
  display: none;
}


* {
	box-sizing: border-box;
  margin: 0px;
	font-family: sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}


.App {
  font-size: 62.5%;
  background-color: $color_TFL;
	color: white;
  padding: $spacing;
  padding-bottom: $spacing/2;
  // height: 100vh;
  min-height: 100vh;
	display: flex;
	flex-direction: column;
  align-items: center;
  border: $borderDev solid cyan;
  overflow-y: scroll;
  -ms-overflow-style: none;
  

  header {
    width: 400px;
    border: $borderDev solid yellow;
    margin-bottom: $spacing/2;
  }

  section{
    flex: 1;
    border: $borderDev solid yellow;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    text-align: right;
    margin-top: $spacing/2;
    border: $borderDev solid yellow;
    a {
      color:white;
    }
  }


  @media screen and (min-width: 860px){
    header, section, footer {
      width: 820px;
    }
    }
    
    @media screen and (min-width: 1280px){
    header, section, footer  {
      width: 1240px;
    }
    }
    
    @media screen and (min-width: 1700px){
    header, section, footer  {
      width: 1660px;
    }
  }
}

.App::-webkit-scrollbar {
  display: none;
}




