@import 'Variables';


::-webkit-scrollbar {
  display: none;
  background-color: $color_TFL;
}

* {

	box-sizing: border-box;
  margin: 0px;
  font-family: sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
  color:inherit;
}

.App {
  font-size: 62.5%;
  background-color: $color_TFL;
	color: white;
  padding: $spacing;
  padding-bottom: $spacing/2;
  min-height: 100vh;
	display: flex;
	flex-direction: column;
  align-items: center;
  border: $borderDev solid cyan;
  overflow-y: scroll;
  -ms-overflow-style: none;
  

  header {
    width: 400px;
    width: 100%;
    border: $borderDev solid yellow;
    margin-bottom: $spacing/2;
  }

  section{
    flex: 1;
    border: $borderDev solid yellow;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 100%;
    text-align: right;
    margin-top: $spacing/2;
    border: $borderDev solid yellow;
    a {
      color:white;
    }
  }

}

