@import 'Variables';

.CardGrid {
  color: black;
  width: 100%;
  border: $borderDev solid lime;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing;
  grid-row-gap: $spacing;
}


@media screen and (min-width: $breakpoint1){
  .CardGrid {
    grid-template-columns: 1fr 1fr;
  }
  }
  
  @media screen and (min-width: $breakpoint2){
  .CardGrid  {
    grid-template-columns: 1fr 1fr 1fr;
  }
  }
  
  @media screen and (min-width: $breakpoint3){
  .CardGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}