@import 'Variables';


.CardSingle {
  color: white;
  width: 100%;
  flex: 1;
  height: 100%;
  border: $borderDev solid cyan;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing;
  grid-row-gap: $spacing;
  // overflow: scroll;
}

