@import 'Variables';
@import 'Text';

.Card {
  font-size: 1rem;
  background-color: #eee;
  color: $color_FontMain;
  border-radius: $cardBorderRadius;
  box-shadow: $cardShadow;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: $borderDev solid dodgerblue;
  width: 100%;
  // height: 100%;

  .linkTo {
    color: $color_FontMain;
  }

  .icon{
    box-shadow: none;
    // background-color: blue;
    color: blue;
    filter: $colorFilter_TFL;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .row {
    border: $borderDev solid darkgrey;
    display: flex;
    flex-direction: row;
    width: 100%;

    &.rowLast{
      margin-bottom: $spacing;
    }

    &.map {
      height: 300px;
    }
  }

  .cardTitle{
    margin-bottom: $spacing/2;
  }

  .titleRow{
    margin-top: $spacing/2;
  }

  .alert{
    font-weight: 400;
    margin-top: $spacing/4;
    margin-bottom: $spacing/4;
  }

  .dataBlock {
    margin-bottom: $spacing/2;
  }

  .status, .loading {
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;
    align-items: flex-end;
    color: $color_FontMain;
    // color: red;
  }

  .horizontalLine {
    border-bottom: 1px solid $color_FontL3;
  }

  .lightColor {
    color: $color_TFL;
  }

  .lineColor {
    height: $spacing*2;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: $spacing/2;
    border: $borderDev solid orange;
    display: flex;
    align-items: center;
  }

  .code {
    flex: 1;
    text-align:right;
    padding-top: 3px;
  }


  .data {
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    text-align: justify;
    word-wrap: break-word;
    font-size: 0.9rem;
    // :last-child{
    //   margin-bottom: $spacing/2;
    // }
  }

  .data::-webkit-scrollbar {
    display: none;
  }


  p {
    text-align: justify;
    word-wrap: break-word;
    font-size: 0.9rem;
    border: $borderDev solid orange;
    overflow: auto;
  }

  .end {
    flex: 1;
    justify-content: flex-end;
  }

  img {
    margin: 10px auto;
    width: 50%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  }


}



