@import 'Variables';


::-webkit-scrollbar {
  display: none;
  background-color: $color_TFL;
}

* {

	box-sizing: border-box;
  margin: 0px;
  font-family: sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
  color:inherit;
}

.App {
  
  font-size: 62.5%;
  background-color: $color_TFL;
	color: white;
  padding: $spacing/2 $spacing;
  min-height: 100vh;
	display: flex;
	flex-direction: column;
  align-items: center;
  border: $borderDev solid cyan;
  overflow-y: scroll;
  -ms-overflow-style: none;
  

  header {
    max-width: 900px;
    width: 400px;
    width: 100%;
    border: $borderDev solid yellow;
    margin-bottom: $spacing/2;
  }

  section{
    flex: 1;
    border: $borderDev solid yellow;
    width: 100%;
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin-top: $spacing/2;
    border: $borderDev solid yellow;
    .legal {
      display: flex;
      flex-direction: column;
      border: $borderDev solid cyan;
      text-align: left;
    }
    .developer {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border: $borderDev solid magenta;
      padding-top:5px;
      font-weight: 600;
      text-align: right;
      a {
        color:white;
      }
    }
  }

}

