@import 'Variables';

.LineArrivals {
  justify-self: center;
  border: $borderDev solid red;
  width: 100%;
  max-width: 450px;
  .LineArrivalHeader {
    transition: all 0.15s;
    &:hover {
      transform: scale(1.05);
    }
  }
}
