@import 'Variables';

.lineStop{
  justify-self: center;
  display: flex;
  border: $borderDev solid magenta;
  text-align: right;
  max-width: 300px;

  .lineName {
    color:$color_FontMain;
    font-weight: 600;
    margin: $spacing/4;
    // width: 100%;
  }
  
  .linesBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 4px;
    width: 125px;
    

    .lineCell {
      height: $spacing;
      width: 125px;
      font-size: 0.75rem;
      font-weight: 600;
      text-align: left;
      color: white;
      padding-left: $spacing/8;
      border: $borderDev solid orange;
      display: flex;
      align-items: center;
      &.lightColor {
        color: $color_TFL;
      }
    }

  }
}




