@import 'Variables';

.Nav{
  display: flex;
  flex-direction: row;

  a {
    color: white;
    flex: 1;
    border: $borderDev solid green;
  }
  Link{
    border: $borderDev solid red;
  }
  .dateTime{
    display: flex;
    flex-direction: column;
    border: $borderDev solid red;
    text-align: right;
  }
  .Time {
    border: $borderDev solid orange;
  }
  .Date {
    border: $borderDev solid orange;
  }
}