@import 'Variables';

.Nav {
  display: flex;
  flex-direction: row;

  .AppTitle {
    color: white;
    border: $borderDev solid green;
  }

  .spacer {
    flex-grow: 1;
  }

  a {
    transition: all 0.15s;
    &:hover {
      transform: scale(1.04);
    }
  }
  Link {
    border: $borderDev solid red;
  }
  .dateTime {
    display: flex;
    flex-direction: column;
    border: $borderDev solid red;
    text-align: right;
  }
  .Time {
    border: $borderDev solid orange;
  }
  .Date {
    border: $borderDev solid orange;
  }
}
